<!-- <ng-container *ngIf="!isChecked">

  <div class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4" role="alert">
    <p class="font-bold">{{"MessageType.warning"|translate}}</p>
    <ul>
   <ng-container *ngFor="let message of errorMessages">
      <li>
        {{ message }}
      </li>
    </ng-container>
    </ul>
  </div>
  <div class="w-full text-center my-3">

    <a class='karl-checkout-btn border-red-500 text-black my-3 cursor-pointer' routerLink="/">{{"header.menu.home"|translate}}</a>
  </div>
</ng-container>
<ng-container *ngIf="isChecked">

  <div class="bg-blue-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3" role="alert">
    <p class="font-bold">{{"MessageType.success"|translate}}</p>
    <p class="text-sm">{{"VALIDATION.ConfirmedEmail"|translate}}</p>
  </div>
  <div class="w-full text-center my-3">

    <a class='karl-checkout-btn border-red-500 text-black my-3 cursor-pointer' routerLink="/">{{"header.menu.home"|translate}}</a>
  </div>
</ng-container> -->