<header class="header_area">
  <div class="top_header_area">
    <div class="w-[80%] mx-auto h-full">
      <div
        class="lg:flex h-full lg:items-center lg:justify-end grid grid-cols-4 text-center"
      >
        <div class="laungugage_box lg:w-1/4 col-span-1">
          <select (change)="useLanguage($event)" class="language-selector">
            <ng-container *ngFor="let lang of supportLangs">
              <option [value]="lang" [selected]="lang === currentLocale">
                {{ lang }}
              </option>
            </ng-container>
          </select>
        </div>
        <div class="w-full lg:w-3/4 col-span-3">
          <div
            class="top_single_area grid grid-cols-2 gap-3 lg:flex lg:items-center lg:justify-between"
          >
            <div class="top_logo col-span-1">
              <a routerLink="">
                <img
                  src="/img/core-img/logo.png"
                  alt="{{ 'header.logo_alt' | translate }}"
                />
              </a>
            </div>
            <div class="header-cart-menu flex items-center">
              <div class="cart mx-2">
                <a
                  type="button"
                  id="header-cart-btn"
                  class="cursor-pointer"
                  (click)="onclick(!clickSignal().cartListToogle, false)"
                >
                  <span class="cart_quantity">{{
                    basketService.totalItems()
                  }}</span>
                  <i class="fa-solid fa-cart-shopping"></i>

                  <span class="hidden lg:inline-block">
                    {{ "header.your_bag" | translate }}
                    {{
                      basketService.totalPrice()
                        | currency
                          : 'AZN'
                          : "symbol"
                          : "1.2-2"
                          : currentLocale
                    }}
                  </span>
                </a>

                <ul
                  class="cart-list z-50"
                  [ngClass]="{ 'cart-data-open': clickSignal().cartListToogle }"
                >
                  <ng-container
                    *ngFor="
                      let product of basketService.getProductBasket();
                      let i = index
                    "
                  >
                    <li [id]="i">
                      <a
                        [routerLink]="'/productdetail/' + product.id"
                        class="image"
                      >
                        <img
                          [src]="product.imgUrl"
                          width="100"
                          height="100"
                          class="cart-thumb"
                          [alt]="product.title"
                        />
                      </a>
                      <div class="cart-item-desc">
                        <h6>
                          <a href="#">{{ product.title }}</a>
                        </h6>
                        <p>
                          {{ product.quantity }}x - {{ product.size }} -
                          <span class="price">
                            {{
                              product.price
                                | currency
                                  : "AZN"
                                  : "symbol"
                                  : "1.2-2"
                                  : currentLocale
                            }}
                            =
                            {{
                              product.totalPrice
                                | currency
                                  : "AZN"
                                  : "symbol"
                                  : "1.2-2"
                                  : currentLocale
                            }}
                          </span>
                        </p>
                      </div>
                      <span class="dropdown-product-remove"></span>
                    </li>
                  </ng-container>

                  <li class="total">
                    <span class="pull-right"
                      >{{ "header.total" | translate }}:
                      {{
                        basketService.totalPrice()
                          | currency
                            : "AZN"
                            : "symbol"
                            : "1.2-2"
                            : currentLocale
                      }}</span
                    >
                    <a
                      routerLink="/cartdetail"
                      class="font-bold cursor-pointer py-2 mx-2 px-4 rounded btn-cart"
                    >
                      {{ "header.cart" | translate }}
                    </a>
                    <a
                      routerLink="checkout"
                      class="font-bold cursor-pointer py-2 px-4 rounded btn-checkout"
                    >
                      {{ "header.checkout" | translate }}
                    </a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="mx-2 p-2">
      <ng-container *ngIf="!authService.isLoggedIn">
  <a routerLink="/auth/login">{{ "header.login" | translate }}</a> |
  <a routerLink="/auth/register">{{ "header.register" | translate }}</a> |
</ng-container>
<ng-container *ngIf="authService.isLoggedIn">
  <a routerLink="/dashboard/users">dashboardUsers</a> |
  <a class="cursor-pointer" (click)="logout()">SignOut</a>
</ng-container>
            </div>

            <div class="ml-15 block lg:hidden col-start-2">
              <button
                type="button"
                (click)="onclick(false,!clickSignal().toggleMenu)"
              >
                <i class="fa-solid fa-bars"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="main_header_area transition-all duration-500 overflow-hidden h-0 lg:h-[150px]"
    [class.h-[350px]]="clickSignal().toggleMenu"
    [class.h-0]="!clickSignal().toggleMenu"
  >
    <div class="container h-full mx-auto">
      <div class="flex h-full">
        <div class="w-full lg:flex lg:justify-between text-center">
          <div class="header-social-area">
            <a href="#">
              <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="#">
              <i class="fa-brands fa-instagram"></i>
            </a>
          </div>

          <div class="main-menu-area">
            <nav>
              <div class="" id="karl-navbar">
                <ul class="animated lg:flex z-40" id="nav">
                  <li class="mx-3">
                    <a class="nav-link cursor-pointer" routerLink="">
                      {{ "header.menu.home" | translate }}
                    </a>
                  </li>
                  <li class="mx-3">
                    <a class="cursor-pointer" [routerLink]="['/shop/1']">
                      {{ "header.menu.shop" | translate }}
                    </a>
                  </li>
                  <li class="mx-3">
                    <a class="cursor-pointer" routerLink="/contact">
                      {{ "header.menu.contact" | translate }}
                    </a>
                  </li>
                  <li class="mx-3">
                    <a routerLink="/cartdetail" class="cursor-pointer">
                      {{ "header.menu.cart_detail" | translate }}
                    </a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>

          <div class="help-line">
            <a href="tel:+994552784344" class="text-white px-2">
              <i class="fa-solid fa-headset"></i>
              +994(55)-278-4344
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
