<section class="py-2">
  <div class="w-4/5 mx-auto">
    <div class="grid grid-cols-1">
      <div class="">
        <div class="section_heading text-center"><h2>{{'home.new-arriwal-section.new-arriwal'|translate}}</h2></div>
      </div>
    </div>
  </div>
  <div class="karl-projects-menu mb-10">
    <div class="text-center portfolio-menu">
        <ng-container *ngFor="let category of signalCategories()" >
            <button 
              (click)="categorySelect(category.categoryName)"  
              [id]="category.id" 
              [ngClass]="{ 'active': signalSelectCategory() == category.categoryName }" 
              class="btn cursor-pointer">
              {{category.categoryName}}
            </button>
          </ng-container>
          

     
    </div>
  </div>
  <div class="w-[80%] mx-auto grid grid-cols-1 lg:grid-cols-3 gap-2 gap-y-3">
    <app-productcart
      *ngFor="let product of signalData()"
      [product]="product"
    ></app-productcart>
  </div>
</section>
