<section id="contact">
  <div class="text text-center py-12">
    <h3 class="text-center">Bizimlə Əlaqə</h3>
  </div>

  <div class="w-4/5 m-auto pb-[10%]">
    <div class="grid gap-x-32 grid-cols-1 lg:grid-cols-2">
      
      <div class="map relative w-full">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d452.3117252643741!2d49.75667013924053!3d40.30287755168066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307f18c89cd74b%3A0xf89452850aeae4d1!2s%C4%B0stanbul%20shoes!5e0!3m2!1str!2saz!4v1722850484639!5m2!1str!2saz"
          class="w-full"
          style="border: 0"
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>

      <div>
        <ul>
          <li>Ünvan: Bakı, Azərbaycan</li>
          <li>
            Telefon: +994 50 123 45 67
            <span style="color: green; font-size: 20px;">📱</span>
          </li>
        </ul>
      </div>
      
    </div>
  </div>
</section>
