<div class="relative w-full h-[500px] overflow-hidden" [ngStyle]="{'background-image': 'url(' + slides[currentIndex].imgUrl}" style="background-size:cover; background-position:center;">
    <div class="absolute inset-0 bg-[#00000066] z-10"></div>
  
    <div class="absolute z-20 left-10 top-1/2 -translate-y-1/2 text-white space-y-4">
      <p class="text-sm text-white">* {{slides[currentIndex].title}}</p>
      <h1 class="text-5xl font-bold text-white">{{slides[currentIndex].description}}</h1>
      <button class="border border-white cursor-pointer px-4 py-2 hover:bg-white hover:text-black transition">ƏTRAFLI BAX</button>
    </div>
  
    <button (click)="prevSlide()" class="absolute left-4 top-1/2 -translate-y-1/2 text-white text-3xl z-30 cursor-pointer">‹</button>
    <button (click)="nextSlide()" class="absolute right-4 top-1/2 -translate-y-1/2 text-white text-3xl z-30 cursor-pointer">›</button>
  </div>
  